In [69]:
import pandas as pd
import math

In [70]:
visit_data = pd.read_excel("./info/2025 Allianz Datathon Dataset.xlsx", sheet_name="Visitation Data")

In [71]:
sydney_resorts = ["Selwyn", "Thredbo", "Perisher", "Charlotte Pass"]

In [72]:
sydney_2024 = visit_data[visit_data["Year"] == 2024][sydney_resorts]
sydney_totals = sydney_2024.sum()
sydney_totals

Selwyn             76089.0
Thredbo           414217.0
Perisher          545276.0
Charlotte Pass     30010.0
dtype: float64

In [73]:
vic_data = visit_data[(visit_data["Year"] == 2024) | (visit_data["Year"] == 2025)][["Year","Week","Mt. Baw Baw", "Mt. Stirling", "Mt. Hotham", "Falls Creek", "Mt. Buller"]]
vic_filtered = vic_data[((visit_data["Year"] == 2024) & (visit_data["Week"].isin([13,14,15]))) | 
                        (visit_data["Year"] == 2025)
                        ].sort_values("Week")
vic_filtered["Total"] = vic_filtered[["Mt. Baw Baw", "Mt. Stirling", "Mt. Hotham", "Falls Creek", "Mt. Buller"]].sum(axis=1)
vic_filtered["Proportion"] = vic_filtered["Total"] / vic_filtered["Total"].sum()

C:\Users\richa\AppData\Local\Temp/ipykernel_24164/2458487939.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  vic_filtered = vic_data[((visit_data["Year"] == 2024) & (visit_data["Week"].isin([13,14,15]))) |

In [74]:
proportions = vic_filtered["Proportion"].tolist()
proportions

[0.018978017008737764,
 0.029548913492723393,
 0.037590137071560205,
 0.05503770805070529,
 0.07917353483193053,
 0.12209409751092828,
 0.1321787522063221,
 0.08585814382059623,
 0.094375884352253,
 0.08997661176996874,
 0.07836029544051075,
 0.0678441011577417,
 0.06912777947962404,
 0.024113945900738603,
 0.015742077905659367]

In [75]:
sydney_weekly = {}
for resort in sydney_resorts:
    total = sydney_totals[resort]   # overall visitors in 2024 for this resort
    # distribute across weeks using proportions
    sydney_weekly[resort] = [math.ceil(total * p) for p in proportions]
sydney_weekly

{'Selwyn': [1445,
  2249,
  2861,
  4188,
  6025,
  9291,
  10058,
  6533,
  7181,
  6847,
  5963,
  5163,
  5260,
  1835,
  1198],
 'Thredbo': [7862,
  12240,
  15571,
  22798,
  32796,
  50574,
  54751,
  35564,
  39093,
  37270,
  32459,
  28103,
  28634,
  9989,
  6521],
 'Perisher': [10349,
  16113,
  20497,
  30011,
  43172,
  66575,
  72074,
  46817,
  51461,
  49063,
  42728,
  36994,
  37694,
  13149,
  8584],
 'Charlotte Pass': [570,
  887,
  1129,
  1652,
  2376,
  3665,
  3967,
  2577,
  2833,
  2701,
  2352,
  2037,
  2075,
  724,
  473]}

In [81]:
sydney_weekly_df = pd.DataFrame(sydney_weekly)
sydney_weekly_df.to_csv("sydney_resorts.csv")